
.sidebar{
  width: 87px;
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
}
.home-button{
  background-color:white;
  border: none;
  height: 60px;
  justify-items: center;
  z-index: 2;
}
.home-button:hover{
  background-color: rgb(236, 230, 230);
  cursor: pointer;
}
.home{
  height: 20px;
  margin-left: 8px;
  margin-right: 8x;
}